nav{
background-color: #ff6060!important;
}

.navlink{
    color: #ffffff!important;
    font-style: bold!important;
    font-size: 20px;
    
}

.nav-tabs td{
    font-size: 12px!important;
    padding: 5px!important;
    margin: 5%!important;

}

.navbar-brand{
    margin-left: 25px!important;
    padding-left: 25px!important;
}


.navbar-brand{
    color: #ffffff!important;
    font-style: bold!important;
    font-size: 40px!important;
}
.card{
    border:1px solid black!important;
}
.footer-link{
    color:white!important;
}





.img-responsive.img-center {
    margin: 0 auto;
  }



.footer-copyright{
    text-align:center;
}

.footer-header{
    color:white!important;
    size: 29px!important;
    font-size: 30px;
}


.page-footer{
    background-color: #ff6060!important;
    color:white;
}
.page-footer li{
    background-color: #ff6060!important;
    color:white;
}

.channelName{
    font-style: bold!important;
    font-size: 30px!important;
    text-shadow: 1px 1px #fe4902;
}

.card-image{
    width:90%;
    height:200px; 
    
}

.card-td{
    width: 50%!important;
}