nav{
background-color: #ff6060!important;
}

.navlink{
    color: #ffffff!important;
    font-style: bold!important;
    font-size: 20px;
    
}

.navbar-brand{
    color: #ffffff!important;
    font-style: bold!important;
    font-size: 40px!important;
}
.card{
    border:1px solid black!important;
    
}
.card-title{
    text-align: center!important;
    text-shadow: 1px 1px #fe4902;
    font-size: 60px;
}

.card-text{
    padding:20px;
}

.card .img-responsive {
    padding-left:20%!important;
    padding-right:20%!important;
}
.img-responsive.img-center {
    margin: 0 auto;
  }